{% extends "carpi/base.html" %}
{% load staticfiles %}
{% block content %}
<h3>Media Files</h3>
<div id="youtubeSpan">
    <label for="youtubeSearch" id="search">add song to library</label>
    <input type="text" id="youtubeSearch"></input>
</div>
<br />
<audio controls id="player">
    <source  src='/transmit/play/12/' type="audio/mpeg">
</audio>
<input id="autoPlay" type="checkbox" name="auto-play" value="autoPlay">auto-play</input>
    <ul>
	{% for song in songs %} 
        <li id="{{ song.id }}" class="song">
        <p>{{song.file_name}}</p>
        {% for s in song.song_set.all %}
            <p>{{ s.album_fk.artist_fk.artist_name }}-{{ s.song_name }} -- playcount-{{ song.times_played}}</p>
         </li>
        {% endfor %}
	{% endfor %}
    </ul>
<script src="{% static "transmit/js/transmit.js" %}"></script>
<link href="{% static "transmit/css/transmit.css" %}" type="text/css" rel="stylesheet">
{% endblock %}
